.light {
    font-weight: 300;
}

.heavy {
    font-weight: 700;
}

.lead {
    letter-spacing: 2px;
}

.lightlead {
    letter-spacing: 1px;
}


body {
    //display: none;
    background-image: url(/static/images/trees.png);
    background-attachment: fixed;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    //font-weight: 300;
    
    -moz-background-size:    cover;
    -ms-background-size:     cover;
    -o-background-size:      cover;
    -webkit-background-size: cover;
    background-size:         cover;
}
    

nav {
    height: 50px;
    vertical-align: middle;
}


#box {
    background-color: #000000;
    opacity: 0.86;
    height: auto;
    margin-top: 150px;
    padding-bottom: 40px;
}



p {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}

input {
    
    height: 30px;
    font-size: 14px;
}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    //font-size: 64px;
    font-family: 'Roboto', sans-serif;
}

.button {
    line-height:20px;
	height: auto;
    letter-spacing: 2px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    //background-color: #444BC5;
    border: none;
    padding:4 15px;
    font-family: 'Roboto', sans-serif;
}

.prpl {
    color: #444BC5; 
    font-style: bold;
    letter-spacing: 4px;
}



#hidden-options {
    margin-top: 50px;
    display: none;
}





#more-options {
    color: white;
}

.button-outline {
    background-color: none;
    border: solid 2px;
    border-color: #444BC5;
    color: white;
}

.button-solid {
    background-color: #444BC5;
    border: none;
}







#default-dropdown {
    z-index: 1;
    font-size: 13px;
    height: 30px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}



#unchosen-dropdown {
    font-size: 13px;
    vertical-align: baseline;
}



#title {
    font-size: 48px;
    font-weight: 400;
}

.logo {
    font-size: 16px;
    color: #444BC5 !important;
}

#default-button {
    z-index: 10;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 30px;
}

input#search {
    width: 250px;
    margin-left: -2px;
    margin-right: 0px;
    z-index: 0;
    
}

input:focus { 
    outline: none !important;
    //border:1px solid #444BC5;
    //box-shadow: 0 0 10px #719ECE;
}


.modal-footer {
    margin-top: 50px;
}

.sub {
    font-size: 84px !important;
}

h1#special {
    font-size: 64px !important;
}

#loading {
    width: 400px;
    height: 200px;
    display: none;
    margin: 0 auto;
}

#load {
    margin-top: 300px;
    text-align: center;
}

#bar {
    margin: 0 auto;
    text-align: center;
    height: 20px;
    width: 100%;
}

.navsize {
    font-size: 14px;
}

a:hover {
    text-decoration: none;
    color: #444BC5;
}

.themecolor {
    background-color: #444BC5;
}

iframe {
    width: 100%;
}

button {
    border: none !important;
}

button:hover {
    cursor: pointer;
}

.close {
    margin-top: -10px;
}



#submit-modal {
    margin-right: -15px;
}
