<!DOCTYPE>

<html>
    <head>
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
        <link href="https://unpkg.com/basscss-btn@1.1.1/css/btn.css" rel="stylesheet">
        <link href="https://unpkg.com/basscss-btn-primary@1.1.0/css/btn-primary.css" rel="stylesheet">
        <link href="https://unpkg.com/basscss-background-images@0.1.1/css/background-images.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link href="/static/stylesheets/style.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet">
    </head>
  
<body class="m0">
    
        <nav class="m0 p1 clearfix fit bg-black">
            <ul class="list-reset fit my1 p0">
                 <li class="pl2 inline-block mr1 left light lead prpl logo"><a href="/" style="color:#444BC5;">tailored sound</a></li>
                <li class="inline-block mr2 right white light lead light navsize"><a class="white text-decoration-none" href="/">PLAY</a></li>
                <li class="inline-block mr2 right white lead light navsize"><a href="/about" class="white text-decoration-none">ABOUT</a></li>
            </ul> 
        </nav>
        
        <h1 class="center lead heavy">Sorry, we could not find any results from your search</h1>
        
        <div class="col-4 center mx-auto p2">
            {% block body %}
              <p><a href="http://127.0.0.1:5000/">Return to home page</a><p>
            {% endblock %}
            
        </div>
    </body>
</html>