<!DOCTYPE>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
        <link href="https://unpkg.com/basscss-btn@1.1.1/css/btn.css" rel="stylesheet">
        <link href="https://unpkg.com/basscss-btn-primary@1.1.0/css/btn-primary.css" rel="stylesheet">
        <link href="https://unpkg.com/basscss-background-images@0.1.1/css/background-images.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <!--<link href="/static/stylesheets/style.css" rel="stylesheet">-->
        
        <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet">
    </head>
    
    
    
    <body class="m0">
        
        <nav class="m0 p1 clearfix fit bg-black">
            <ul class="list-reset fit my1 p0">
                 <li id="logo" class="pl2 inline-block mr1 left white light lead prpl">tailored sound</li>
                <li class="inline-block mr1 right white light lightlead light"><a class="white text-decoration-none" href="/">play</a></li>
                <li class="inline-block mr1 right white lightlead light"><a href="/about" class="white text-decoration-none">about</a></li>
            </ul> 
        </nav>
        
        <nav class="m0 p1 clearfix fit bg-white">
            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                
                    {% for message in messages %}
                        <p class="green center">{{ message }}</p>
                    {% endfor %}
                    
                  {% endif %}
            {% endwith %}
        </nav>
        
        <div class="col-8 mx-auto mb2">
            <h1 class="lead left my1 heavy">Your playlist</h1>
        </div>
        
        <div id="box" class="col-8 center mx-auto p2 clearfix">
            
            
            
            
            {% for i in songs %} 
   
            <iframe src="https://embed.spotify.com/?uri={{ i }}" width="900" height="90" frameborder="0" allowtransparency="true"></iframe>
                
            {% endfor %}
            <form>
                <button type="button" class="button right" data-toggle="modal" data-target="#exampleModal">ADD PLAYLIST TO YOUR SPOTIFY</button>
            </form>

            
             
        </div>
        

       <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>-->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please enter a name for your playlist.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Playlist already added.</p>
              </div>
                <form action="/playlist" method="POST">
                <input type="text" class="input mr2 ml2 mb2" height="32"  name="text">
              <div class="modal-footer">
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              </div>
            </div>
          </div>
        </div>

    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        </body>



</html>